:root{
    --primaryOrange: #ff4700;
    --primaryBlack: #020100;
    --white:  #ffffff;
    --compGrey: #9C9C9C;
    --compCoral: #FFA37F;
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url('../fonts/FiraCode-Light.ttf');
}

@font-face{
    font-family: 'FiraCode-Regular';
    src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face{
    font-family: 'Poppins.Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face{
    font-family: 'Poppins.Light';
    src: url('../fonts/Poppins-Light.ttf');
}
@font-face{
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'Rubik-Bold';
    src: url('../fonts/Rubik-Bold.ttf');
}

@font-face{
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf');
}


*{
    padding: 0;
    margin: 0;
}

.prueba{
    font-family: 'Rubik-Poppins.Bold', Helvetica, sans-serif;
}

.footer{
   font-size: 14px;
   background-color: var(--primaryOrange);
   align-items: center;
}

.footer3{  
    font-family:'Poppins.Bold';
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    text-align: center; 
    font-size: 13px;
    padding: 40px;
    justify-content: space-between;
}

 .iconos{
    display: flex;
    text-align: center;  
    justify-content: flex-end;
    
}

.iconos img{
    height: 3vh;
    width: 3vh;
    margin: 3px;
    justify-content: center;
}
 
.texto{
display:flex;
justify-content: center;
}



