:root {
    --primaryOrange: #ff4700;
    --primaryBlack: #020100;
    --white: #ffffff;
    --compGrey: #9C9C9C;
    --compCoral: #FFA37F;
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url('./fonts/FiraCode-Light.ttf');
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: url('./fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Poppins.Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins.Light';
    src: url('./fonts/Poppins-Light.ttf');

}

@font-face {
    font-family: 'Poppins.Medium';
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('./fonts/Rubik-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--primaryOrange);
}

.main {
    display: flex;
    align-items:center;   
}

.main-left {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 80%;   
}

.zoom-container {
    overflow: hidden;
    border: 3px solid var(--primaryBlack);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 9%;
    margin-top: 14%;
    margin-right: 3%;
}

.zoom-container:hover .main-left-boximage {
    transform: scale(1.6);
}

.main-left-boximage {
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease; 
}

.main-right {
    color: var(--white);
    margin: 0 10px;
}

.main-right-text {
    text-align: justify;
    margin-top: 13.5%;
    margin-right: 13%;
    margin-left: 5%;
    font-family: 'Poppins.Light';
    font-size: 17px;
}

.instrucciones {
    line-height: 3%;
}

.reloj {
    width: 22px;
    height: 27px;
    vertical-align: middle;
    margin-bottom: 1.2%;
    margin-left: 1.7%;
    animation-name: vueltas;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes vueltas {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.btn {
    background-color: var(--primaryBlack);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins.Light';
    font-size: 15px;
    line-height: 1.25;
    padding: calc(.6rem - 1px) calc(.7rem - 1px);
    transition: all 250ms;
    touch-action: manipulation;
    margin-left: 32%;
  }

  .btn:hover,
    .btn:focus {
  background-color: var(--compCoral);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn2 {
    background-color: var(--primaryBlack);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins.Light';
    font-size: 15px;
    line-height: 1.25;
    padding: calc(.25rem - 1px) calc(.5rem - 1px);

    transition: all 250ms;
    touch-action: manipulation;
  }

  .btn2:hover,
  .btn2:focus {
background-color: var(--compCoral);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}




/* Resto del CSS */

/* Media query para dispositivos pequeños */
@media (max-width: 767px) {
    .main {
      flex-direction: column; /* Cambia a disposición de columna en dispositivos pequeños */
      align-items: center; /* Centra los elementos en dispositivos pequeños */
    }
  
    .main-left {
      order: 1; /* Cambia el orden para que main-left esté arriba en dispositivos pequeños */
      margin: 10px 0; /* Ajusta el margen para centrar la imagen */
      width: 80%; /* Ajusta el ancho de main-left */
      display: flex;
      justify-content: center; /* Centra la imagen */
    }
  
    .main-right {
      order: 2; /* Cambia el orden para que main-right esté abajo en dispositivos pequeños */
      margin: 0 20px; /* Ajusta el margen izquierdo y derecho para el texto */
      width: 80%; /* Ajusta el ancho de main-right */
    }
  
    .main-right-text {
      margin-top: 20px; /* Ajusta el margen superior del texto en dispositivos pequeños */
    }
  
    .btn, .btn2 {
      width: 80%; /* Ajusta el ancho de los botones en dispositivos pequeños */
      margin: 10px 0; /* Ajusta el margen en dispositivos pequeños */
    }
  }
  
  /* Resto del CSS */
  
