<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./conectortest-style.css">
    <title>Talento Digital</title>
    <link rel="icon" type="image/jpg" href="./Img/LOGO F5B.jpg">
</head>

<body>

    <div class="main">

        <div class="main-left">
            <div class="zoom-container">
                <img src="./Img/fotoamistad5b.jpg" alt="amigos multiculturales" class="main-left-boximage">
            </div>
        </div>

        <div class="main-right">
            <div class="main-right-text">
                <p class="hola">¡<b>HOLA</b>! Este es el primer paso para descubrir tu talento digital. 
                </p>
                <br>
                <p>¡Hacerlo, sólo
                    te llevará 10 minutos!<img src="./Img/reloj de arena.png" alt="emoji reloj de arena" class="reloj"></p>
                <br>
                <p>Para <b>CONTINUAR</b>, sigue estas instrucciones:</p>
                <br>
                <ul>
                <form id="myForm" class="myFrom" method="POST">
                    <label for="nombre">1. Escribe tu correo electrónico:</label>
                    <input type="text" id="nombre" name="nombre" required>
                    <br>
                </form>
                <div class="btn-form">
                    <p>2. Da click a <button class="btn2" onclick="saveEmail()">enviar</button>
                </div>
                </p>
                <p>3. Mira tu bandeja de entrada y <b>SIGUE</b> las instrucciones que aparecen en el correo electrónico
                    que acabas de recibir.
                </p>
                <br>
                <p>¿Preparada/o?</p>
                <br>
            </div>
            <div>
                <a href=""><button class="btn">3, 2, 1... ¡Vamos allá!</button></a>
            </div>
        </div>

    </div>

</body>
<script src="./js/app.js"></script>

</html>