<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./conectortest-style.css">
    <title>Talento Digital</title>
    <link rel="icon" type="image/jpg" href="./Img/LOGO F5B.jpg">
</head>

<body>

    <div class="main">

        <div class="main-left">
            <div class="zoom-container">
                <img src="./Img/fotoamistad5b.jpg" alt="amigos multiculturales" class="main-left-boximage">
            </div>
        </div>

        <div class="main-right">
            <div class="main-right-text">
                <p class="hola">¡<b>HOLA</b>! Este es el primer paso para descubrir tu talento digital. 
                Para ello, hemos preparado un sencillo formulario.
                </p>
                <br>
                <p>¡Hacerlo, sólo
                    te llevará 10 minutos!<img src="./Img/reloj de arena.png" alt="emoji reloj de arena" class="reloj"></p>
                <br>
                <p><b>REALIZA</b> estos pasos antes de continuar:</p>
                <br>
                <ul>
                    

            <form id="myForm" class="myFrom" method="POST">
                    <label for="nombre">1. Escribe tu correo electrónico:</label>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <br>  
                <div class="btn-form">
                    <p>2. Da click a <button class="btn2" onclick="saveEmail()">enviar</button>
                </div>
            </form>
                </p>
                <p>3. <b>ACEPTA</b> las condiciones del correo electrónico que acabas de recibir.
                </p>
                <br>
                <p>Si estás preparada/o...<a href="../form-view/form.html"><button class="btn">¡Vamos allá!</button></a></p>
                <br>
            </div>
            <div>
                
            </div>
        </div>

    </div>

</body>
<script src="../../js/app.js"></script>

</html>