:root {
    --primaryOrange: #ff4700;
    --primaryBlack: #020100;
    --white: #ffffff;
    --compGrey: #9C9C9C;
    --compCoral: #FFA37F;
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url('./fonts/FiraCode-Light.ttf');
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: url('./fonts/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Poppins.Bold';
    src: url('./fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins.Light';
    src: url('./fonts/Poppins-Light.ttf');

}

@font-face {
    font-family: 'Poppins.Medium';
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('./fonts/Rubik-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
}


body {
    background-color: var(--primaryOrange);
}

.main {
    display: flex;
    align-items:center;   
}


.zoom-container {
    overflow: hidden;
    border: 3px solid var(--primaryBlack);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 7%;
    margin-top: 10.5%;
}

.zoom-container:hover .main-left-boximage {
    transform: scale(1.6);
}

.main-left-boximage {
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease; 
}

.main-right {
    color: var(--white);
}

.main-right-text {
    text-align: justify;
    margin-top: 10%;
    margin-right: 9%;
    margin-left: 7%;
    font-family: 'Poppins.Light';
    font-size: 17px;
}

.reloj {
    width: 22px;
    height: 27px;
    vertical-align: middle;
    margin-bottom: 1.2%;
    margin-left: 1.7%;
    animation-name: vueltas;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes vueltas {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.btn {
    background-color: var(--primaryBlack);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins.Light';
    font-size: 15px;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1rem - 1px);
    transition: all 250ms;
    touch-action: manipulation;
    margin-top: 5%;
    margin-left: 31%;
  }

  .btn:hover,
    .btn:focus {
  background-color: var(--compCoral);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn2 {
    background-color: var(--primaryBlack);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Poppins.Light';
    font-size: 15px;
    line-height: 1.25;
    padding: calc(.25rem - 1px) calc(.5rem - 1px);

    transition: all 250ms;
    touch-action: manipulation;
  }

  .btn2:hover,
  .btn2:focus {
background-color: var(--compCoral);
box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

