.fondo {
    background-color: bisque;
    margin-left: 15vh;
    margin-right: 15vh;
}

.margin {
    padding-top: 5vh;
    margin-left: 12vh;
    margin-right: 5vh;
    margin-bottom: 5vh;
}

legend {
    font-family: 'Poppins.Light';
    margin-left: 0vh;
}

.email {
    width: 52vh;
}

.checkbox[type=checkbox] {
    margin-left: 2vh;
    transform: scale(1.5);
}

.form-nameboxText {
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    padding-left: 3vh;
    padding-right: 2vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF4700;
}

/* .textbox-div {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;
} */

.form-emailboxText {
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    padding-left: 3vh;
    padding-right: 2vh;
}

.datos-fieldset {
    padding-top: 3vh;
    padding-left: 5vh;
    padding-bottom: 5vh;
    width: 164vh;
    display: flex;
    background-color: var(--compCoral);
}

.boxSend {
    width: 165vh;
    padding: 2vh;
    margin-left: 12vh;
    text-align: center;
    background-color: var(--compCoral);
}

.textSend {
    font-family: 'Poppins.Medium';
    text-align: center;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--compGrey);
    border-width: 1px;
    background-color: var(--white);
}

.title412 {
    font-family: 'Poppins.Medium';
    text-align: center;
    background-color: var(--primaryOrange);
}

.secondTitle412 {
    font-family: 'Poppins.Medium';
    text-align: center;
    background-color: var(--compCoral);
}

.thirdTitle412 {
    font-family: 'Poppins.Light';
    text-align: center;
    background-color: var(--white);
    border-style: solid;
    border-color: var(--compGrey);
    border-width: 1px;
}

.boxAnswer {
    width: 42vh;
    font-family: 'Poppins.Medium';
    display: flex;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-color: var(--compGrey);
    border-width: 1px;
}

.containerAnswer {
    display: flex;
    margin-left: 12vh;
}

.textAnswer {
    width: 42vh;
    height: 40vh;
    font-family: 'Poppins.Light';
    font-size: 10pt;
    text-align: center;
    border-style: solid;
    border-color: var(--compGrey);
    border-width: 1px;
}

table {
    background-color: white;
    border: #FF4700;
    display: flexbox;
    margin: 1vh;
    border-color: #FF4700;
}

.table-header {
    font-family: 'Poppins.Medium';
    text-align: center;
    background-color: var(--compCoral);
}

td {
    font-family: 'Poppins.Light';
    font-size: 10pt;
    padding-left: 3vh;
}

td,th {
    border: #FF4700 1px solid;
    padding: 0vh;
}

/* input[type="checkbox"] {
    display: block;
    margin: 0 auto;

} */