<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="./form-style.css">
</head>

<body>
    <form class="form" onsubmit="enviarFormulario()" method="POST">
        <div class="fondo">
            <div class="margin">
                <fieldset class="datos-fieldset">
                    <legend class="form-nameboxText">DATOS DEL TALENTO</legend>
                    <p class="form-nameboxText">Nombre y Apellidos :</p>
                    <input class="email" type="text" name="name" required>
                    <p class="form-emailboxText">E-mail :</p>
                    <input class="email" type="email" name="email" id="emailInput" required>
                </fieldset>
            </div>
            <p class="title412"> 1. COMPETENCIAS DIGITALES BÁSICAS</p>
            <table class="margin">
                <thead class="table-header">
                    <tr>
                        <th></th>
                        <th>SI</th>
                        <th>NO</th>
                        <th>NS/NC</th>
                    </tr>
                </thead>

                <tr>
                    <td>1.1. Tengo curiosidad hacia la tecnología e interés en mantenerme actualizado/a</td>
                    <td><input type="checkbox" name="1.1-Si"></td>
                    <td><input type="checkbox" name="1.1-No"></td>
                    <td><input type="checkbox" name="1.1-NsNc"></td>
                </tr>

                <tr>
                    <td>1.2. Tengo una fuerte motivación para aprender por mi mismo/a y de forma autodidacta</td>
                    <td><input type="checkbox" name="1.2-Si"></td>
                    <td><input type="checkbox" name="1.2-No"></td>
                    <td><input type="checkbox" name="1.2-NsNc"></td>
                </tr>
                <tr>
                    <td>1.3. Dispongo de ordenador propio</td>
                    <td><input type="checkbox" name="1.3-Si"></td>
                    <td><input type="checkbox" name="1.3-No"></td>
                    <td><input type="checkbox" name="1.3-NsNc"></td>
                </tr>
                <tr>
                    <td>1.4. Tengo conexión a internet en mi hogar</td>
                    <td><input type="checkbox" name="1.4-Si"></td>
                    <td><input type="checkbox" name="1.4-No"></td>
                    <td><input type="checkbox" name="1.4-NsNc"></td>
                </tr>
                <tr>
                    <td>1.5. Tengo correo electrónico y sé utilizarlo</td>
                    <td><input type="checkbox" name="1.5-Si"></td>
                    <td><input type="checkbox" name="1.5-No"></td>
                    <td><input type="checkbox" name="1.5-NsNc"></td>
                </tr>
                <tr>
                    <td>1.6. Sé hacer búsquedas de información en internet</td>
                    <td><input type="checkbox" name="1.6-Si"></td>
                    <td><input type="checkbox" name="1.6-Si"></td>
                    <td><input type="checkbox" name="1.6-NsNc"></td>
                </tr>
                <tr>
                    <td>1.7. Tengo algún conocimiento previo sobre programación</td>
                    <td><input type="checkbox" name="1.7-Si"></td>
                    <td><input type="checkbox" name="1.7-No"></td>
                    <td><input type="checkbox" name="1.7-NsNc"></td>
                </tr>
                <tr>
                    <td>1.8. Sé hacer gestiones a través de internet (operaciones bancarias, solicitar documentos, pedir
                        citas electrónicas, etc.)</td>
                    <td><input type="checkbox" name="1.8-Si"></td>
                    <td><input type="checkbox" name="1.8-No"></td>
                    <td><input type="checkbox" name="1.8-NsNc"></td>
                </tr>
                <tr>
                    <td>1.9. Puedo realizar videollamadas</td>
                    <td><input type="checkbox" name="1.9-Si"></td>
                    <td><input type="checkbox" name="1.9-No"></td>
                    <td><input type="checkbox" name="1.9-NsNc"></td>
                </tr>
                <tr>
                    <td>1.10. Sé elaborar mi propio contenido en internet (postear en blogs, redes sociales, páginas
                        web...)</td>
                    <td><input type="checkbox" name="1.10-Si"></td>
                    <td><input type="checkbox" name="1.10-No"></td>
                    <td><input type="checkbox" name="1.10-NsNc"></td>
                </tr>
            </table>

            <div>
                <div id="ApartadoRubrica">
                    <p class="title412"> 2. COMPETENCIAS DIGITALES</p>
                    <div class="secondTitle412">
                        1.1. Alfabetización digital
                    </div>
                    <div class="thirdTitle412">
                        1.1.1. Uso de dispositivos tecnológicos
                    </div>
                </div>
                <div>
                    <div class="containerAnswer">
                        <div>
                            <p class="boxAnswer">A<input class="checkbox" id="111A" name="1.1.1.A" type="checkbox"></p>
                            <p class="textAnswer">
                                Tengo pocos o ningún conocimiento sobre el uso de dispositivos tecnológicos. Incluso
                                tengo
                                problemas
                                para saber qué hace cada botón del teclado de un ordenador
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">B <input class="checkbox" id="111B" name="1.1.1.B" type="checkbox"></p>
                            <p class="textAnswer">
                                Tengo conocimientos muy básicos sobre el uso de dispositivos tecnológicos. Sin
                                embargo,
                                soy
                                capaz de
                                enviar un correo electrónico o realizar una videollamada sin ayuda</p>
                        </div>
                        <div>
                            <p class="boxAnswer">C <input class="checkbox" id="111C" name="1.1.1.C" type="checkbox"></p>
                            <p class="textAnswer">
                                Sé utilizar dispositivos tecnológicos de forma eficiente para distintas actividades
                                básicas
                                como
                                comunicarme a través de correo electrónico y videollamada, compartir archivos, uso
                                de
                                redes
                                sociales, etc </p>
                        </div>
                        <div>
                            <p class="boxAnswer">D <input class="checkbox" id="111D" name="1.1.1.D" type="checkbox"></p>
                            <p class="textAnswer">
                                Domino el uso de distintos dispositivos tecnológicos, intentando aprovechar al
                                máximo
                                sus
                                posibilidades y recursos tanto para facilitar mi trabajo como para mi vida diaria
                            </p>
                        </div>
                    </div>
                    <div class="thirdTitle412">
                        1.1.2. Búsquedas de información
                    </div>
                    <div class="containerAnswer">
                        <div>
                            <p class="boxAnswer">A<input class="checkbox" id="112A" name="1.1.2.A" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Tengo dificultades para buscar y acceder a información en línea
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">B <input class="checkbox" id="112B" name="1.1.2.B" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Puedo buscar información básica en línea, pero no suelo refinar las búsquedas y tengo
                                dificultades para evaluar la fiabilidad de las fuentes
                        </div>
                        <div>
                            <p class="boxAnswer">C <input class="checkbox" id="112C" name="1.1.2.C" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Soy capaz de buscar y evaluar la calidad de la información en línea, utilizando
                                diferentes herramientas y fuentes de manera efectiva </p>
                        </div>
                        <div>
                            <p class="boxAnswer">D <input class="checkbox" id="112D" name="1.1.2.D" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Sé qué motores de búsqueda y bases de datos responden mejor a mis necesidades.
                                Utilizo filtros
                                y modifico las búsquedas de información.
                                Puedo evaluar la calidad de la información que obtengo.
                                Entiendo cómo los motores de búsqueda clasifican la información y mejoro las búsquedas
                                con el uso de vocabulario específico
                            </p>
                        </div>
                    </div>
                    <div class="thirdTitle412">
                        1.1.3. Gestiones administrativas
                    </div>
                    <div class="containerAnswer">
                        <div>
                            <p class="boxAnswer">A<input class="checkbox" id="113A" name="1.1.3.A" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Tengo dificultades para realizar gestiones básicas de la vida diaria a través de
                                internet sin ayuda
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">B <input class="checkbox" id="113B" name="1.1.3.B" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Puedo realizar gestiones básicas como solicitar una cita médica a través de internet o
                                consultar un extracto bancario, aunque en algunas ocasiones necesito ayuda de terceras
                                personas</p>
                        </div>
                        <div>
                            <p class="boxAnswer">C <input class="checkbox" id="113C" name="1.1.3.C" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Soy capaz de realizar diferentes gestiones administrativas básicas a través de internet
                                como solicitar una cita médica, consultar un extracto bancario, etc., sin ayuda de
                                terceras personas</p>
                        </div>
                        <div>
                            <p class="boxAnswer">D <input class="checkbox" id="113D" name="1.1.3.D" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Puedo realizar gestiones administrativas complejas de todo tipo a través de internet sin
                                ayuda de terceras personas
                            </p>
                        </div>
                    </div>
                    <div class="thirdTitle412">
                        1.1.4. Seguridad digital
                    </div>
                    <div class="containerAnswer">
                        <div>
                            <p class="boxAnswer">A<input class="checkbox" id="114A" name="1.1.4.A" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                No tengo ningún conocimiento sobre seguridad en internet ni sobre cómo proteger mis
                                datos personales y los de otras personas
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">B <input class="checkbox" id="114B" name="1.1.4.B" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Tengo conocimientos básicos sobre seguridad en internet y sé que sólo puedo compartir
                                cierto tipo de información acerca de mí o de otras personas en entornos online
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">C <input class="checkbox" id="114C" name="1.1.4.C" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Tengo ciertas nociones de seguridad en internet, sé lo que son las cookies y a menudo
                                cambio la configuración de privacidad por defecto de los servicios online para mejorar
                                la protección de mis datos
                            </p>
                        </div>
                        <div>
                            <p class="boxAnswer">D <input class="checkbox" id="114D" name="1.1.4.D" type="checkbox">
                            </p>
                            <p class="textAnswer">
                                Tengo una comprensión amplia sobre seguridad en internet y sobre problemas de
                                privacidad. Sé qué son las cookies,
                                soy consciente de que los datos sobre mi identidad digital pueden ser utilizados por
                                terceras personas y sé modificar la información que doy sobre mí. Además, entiendo el
                                riesgo existente de robo de identidad y de otras credenciales
                            </p>
                        </div>

                    </div>
                    <div class="boxSend">
                        <button type="submit" class="textSend">Send</button>
                    </div>
                </div>
    </form>


</body>
<script src="./app.js"></script>

</html>