.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#FF4700;
}
.textbox-div {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 40%;
}
.form-nameboxText {
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    color: white;
}
.namebox-input {
    width: 20vw;
    height: 3vh;
    outline: none;
    border-radius: 12px;
}
.namebox-input:focus {
    outline: 2px groove #FFA37F;
}
.emailbox-input {
    width: 20vw;
    height: 3vh;
    outline: none;
    border-radius: 12px;
}
.emailbox-input:focus {
    outline: 2px groove #FFA37F;
}
.datebox-input {
    width: 8vw;
    height: 3vh;
    outline: none;
    border-radius: 12px;
}
.datebox-input:focus {
    outline: 2px groove #FFA37F;
}
.form-emailboxText { 
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    color:white;
}

.form-fechaboxText {
    font-family: 'Poppins.Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    color:white;
}
table {
    width:80%;
    margin: 0 auto;
    background-color: white;
    border-style: groove;
    border-color: #FF4700;
    
    border-collapse: collapse;
}
.table-header {
    font-family: 'FiraCode-Regular';
    src: url('../fonts/FiraCode-Regular.ttf');
}
td {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf');
}
td ,th {
    border:#FF4700 1px solid;
    padding: 2vh;
}
.table-header {
    background-color: #FFA37F;
}
input[type="checkbox"] {
    display: block;
    margin: 0 auto;

}