<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./colaboration-style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="../../index.html"><img src="../../img/talento-Digital.png" alt="Talento Digital"></a></div>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul>
                <li><a href="index.html">Herramienta</a></li>
                <li><a href="index.html">Colaboradores</a></li>
                <li><a href="index.html">Contacto</a></li>
                <li><a href="index.html">Formulario</a></li>
            </ul>
        </nav>
        <br>
        <br>
    </header>
</body>
<script src="./app.js"></script>
</html>