
:root{
    --primaryOrange: #ff4700;
    --primaryBlack: #020100;
    --white:  #ffffff;
    --compGrey: #9C9C9C;
    --compCoral: #FFA37F;
}

@font-face {
    font-family: 'FiraCode-Light';
    src: url('../../fonts/FiraCode-Light.ttf');
}

@font-face{
    font-family: 'FiraCode-Regular';
    src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face{
    font-family: 'Poppins.Bold';
    src: url('../../fonts/Poppins-Bold.ttf');
}

@font-face{
    font-family: 'Poppins.Light';
    src: url('../../fonts/Poppins-Light.ttf');
}
@font-face{
    font-family: 'Poppins.Medium';
    src: url('../../fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: 'Rubik-Bold';
    src: url('../../fonts/Rubik-Bold.ttf');
}

@font-face{
    font-family: 'Rubik-Medium';
    src: url('../../fonts/Rubik-Medium.ttf');
}


*{
    padding: 0;
    margin: 0;
}

.prueba{
    font-family: 'Rubik-Poppins.Bold', Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-cards{
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 5vh;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    text-align: center;
}
.box h1{  
    margin-top: 4vh;
    margin-bottom: 5vh;
    z-index: 1;
    font-size: 6vw;
    color: var(--primaryOrange);
    font-family: 'FiraCode-Regular'
}
.box img{
    background-color: var(--white);
    opacity: .8;
    filter: saturate(180%);
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cards{
    background-color: var(--primaryOrange);
    border-radius: 8px;
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1vh;
    transition: border 0.5s ease;
    border: 2px solid var(--primaryBlack);
}
.cards img {
    max-width: 70%;
    margin: 2vh;
    width: auto;
    
    object-fit: cover;    
}
.cards-uniovi {
    max-width: 60%;
    height: auto;
}
.cards:hover {
    border: 5px solid var(--compGrey);
    box-shadow: 0 0 5px var(--compGrey);
}
.cards.shadow-right {
    box-shadow: 5px 0px 5px var(--compGrey);
}
.cards h3{
    color: var(--white);
    text-align: center;
    margin: 0.5vh;
}
@media (max-width: 400px) {
    .box-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .box h1 {
        font-size: 8vw;
    }
}