<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style-cookies.css">
    <title>Talento Digital</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo "><a href="../../index.html"><img src="../../img/talento-Digital.png"
                        alt="Talento Digital"></a></div>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul>
                <li><a href="index.html">Guía</a></li>
                <li><a href="index.html">Colaboradores</a></li>
                <li><a href="index.html">Contacto</a></li>
                <li><a href="index.html">Formulario</a></li>
            </ul>
        </nav>
        <br>
        <br>
    </header>
    <section class="about main-content">
        <div class="container-index">
            <div class="text-about">
                <br>
                <br>
                <br>
                <br>
                <h2>Política de Cookies</h2>
                <br>
                <br>
                <p> Utilizamos Cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad
                    relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continua
                    navegando, consideramos que acepta su uso. Puede obtener más información acerca de nuestra Política
                    de Cookies accediendo al link del mismo nombre incluido en todas nuestras páginas de navegación.
                </p>
                <br>
                <p>1.Podemos recabar información sobre su ordenador, incluido, en su caso, su dirección de IP, sistema
                    operativo y tipo de navegador, para la administración del sistema. Se trata de datos estadísticos
                    sobre cómo navegas por nuestro sitio Web.</p>
                <br>
                <p>2. Por la misma razón, podemos obtener información sobre su uso general en nuestra tienda mediante
                    un
                    archivo de cookies que se almacena en el disco duro de su ordenador. Las cookies contienen
                    información que se transfiere al disco duro de su ordenador. Las cookies nos ayudan a mejorar
                    nuestro sitio Web y a prestar un servicio mejor y más
                    personalizado. En concreto, nos permiten: </p>

                <p class="tabular"> 2.1. Hacer una estimación sobre números y patrones de uso.</p>
                <p class="tabular">2.2. Almacenar información acerca de sus preferencias y personalizar nuestro sitio
                    web de
                    conformidad
                    con sus intereses individuales.</p>
                <p class="tab">2.3. Acelerar sus búsquedas.</p>
                <p class="tab">2.4. Reconocerle cuando regrese de nuevo a nuestro sitio.</p>
                <br>
                <p>3. Puede negarse a aceptar cookies activando la configuración en su navegador que permite rechazar
                    las cookies. No obstante, si selecciona esta configuración, quizá no pueda acceder a determinadas
                    partes del Sitio Web o no pueda aprovecharse de alguno de nuestros servicios. A menos que haya
                    ajustado la configuración de su navegador de forma que rechace cookies, nuestro sistema producirá
                    cookies cuando se conecte a nuestro sitio.</p>
                <br>
                <p>4. ¿Cómo puedo desactivar las cookies?</p>
                <br>
                <p>5. La mayoría de los navegadores indican cómo configurar su navegador para que no acepte cookies,
                    para que le notifique cada vez que reciba una nueva cookie, así como para desactivarlas
                    completamente. Para controlar qué uso quiere que se haga de su
                    información, puede configurar el navegador de su terminal en la forma que estime más conveniente
                    para Vd. Le indicamos los siguientes enlaces, donde podrá encontrar más información sobre los
                    diferentes navegadores:
                    <br>
                </p>
                <br>
                <p><strong>Chrome:</strong> https://www.google.es/intl/es/policies/technologies/managing/
                </p>
                <p><strong>Explorer:</strong>
                    https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies
                </p>
                <p><strong>Firefox:</strong>
                    http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-lossitios-we
                </p>
                <p><strong>Safari</strong> https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES
                </p>
                <p><strong>Opera:</strong> http://www.opera.com/help/tutorials/security/privacy/</p>
                <br>
                <p>Si no desea ser rastreado por las cookies de Google Analytics, Google ha desarrollado un complemento
                    para instalar en su navegador al que puede acceder en el siguiente enlace:
                    http://goo.gl/up4ND.</p>
                <br>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <img class="footer-logo" src="../../img/logo-footer.png" alt="logo-factoriaF5">
            <div class="links-footer">
                <h3>ROMPEMOS LOS CÓDIGOS</h3>
                <p>Todos los derechos reservados &copy; 2023</p>
                <a href="./legal-view.html">Aviso legal</a>
                <a href="./privacidad-view.html">Política de Privacidad</a>
                <a href="./cookies-view.html">Política de Cookies</a>
                <a href="#">Contacta</a>
                <a href="#">Transparencia</a>
                <a href="#">Blog</a>
            </div>
            <div class="social-footer">
                <a href="https://es-es.facebook.com/factoriaf5/" target="_blank"><img src="../../img/icons/facebook.png"
                        alt="facebook-factoriaF5"></a>
                <a href="https://www.instagram.com/factoria_f5/" target="_blank"><img
                        src="../../img/icons/instagram.png" alt="instagram-factoriaF5"></a>
                <a href="https://es.linkedin.com/company/factor%C3%ADaf5" target="_blank"><img
                        src="../../img/icons/linkedin.png" alt="linkedin-factoriaF5"></a>
                <a href="https://twitter.com/FactoriaF5?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                    target="_blank"><img src="../../img/icons/twitter.png" alt="twitter-factoriaF5"></a>
                <a href="https://www.youtube.com/channel/UCazHbN7ChOJxRXW0-K1zczw" target="_blank"><img
                        src="../../img/icons/youtube.png" alt="youtube-factoriaF5"></a>
            </div>
        </div>
    </footer>
    <script src="../../js/app.js"></script>
</body>

</html>