*{
    padding: 0;
    margin: 0; 
}

:root{
   --primaryOrange: #ff4700;
   --primaryBlack: #020100;
   --white:  #ffffff;
   --compGrey: #9C9C9C;
   --compCoral: #FFA37F;
}

@font-face {
   font-family: 'FiraCode-Light';
   src: url('../../fonts/FiraCode-Light.ttf');
}

@font-face{
   font-family: 'FiraCode-Regular';
   src: url('../../fonts/FiraCode-Regular.ttf');
}

@font-face{
   font-family: 'Poppins.Bold';
   src: url('../../fonts/Poppins-Bold.ttf');
}

@font-face{
   font-family: 'Poppins.Light';
   src: url('../../fonts/Poppins-Light.ttf');
}
@font-face{
   font-family: 'Poppins.Medium';
   src: url('../../fonts/Poppins-Medium.ttf');
}

@font-face{
   font-family: 'Rubik-Bold';
   src: url('../../fonts/Rubik-Bold.ttf');
}

@font-face{
   font-family: 'Rubik-Medium';
   src: url('../../fonts/Rubik-Medium.ttf');
}

.container img{

display: flex;
align-items: center;
height: 26rem;
width: 100%;
opacity: .9;

}
   
.container h1{
   background: #ff4700;
   color: rgb(255, 255, 255);
   font-weight: bold;
   padding: 4vh;
   
}

h1{
   display: flex;
   justify-content: center;
   margin-bottom: 5rem;
   font-family: 'Poppins.Medium';
   font-size: 2.3rem;
}


h2{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
   font-family: 'Poppins.Light';
   font-size: xxx-large;
}

.city{
   display: flex;
   justify-content: space-around;
   margin-top: 4rem;
   
}

.imglangreo img {
   width: 32rem;
   height: 19rem;
   font-family: 'Poppins.Medium';
   border-radius: 35% 15%;
}

.textoubicacion{
   width: 32rem;
   height: 19rem;
   font-family: 'Poppins.Light';
   font-size: large;
}
.note{
   margin-top: 5rem;
   display: flex;
   justify-content: center;
   font-size: x-large;
   font-family: 'Poppins.Light';
   background: #ff4700;
   animation-duration: 2s;
   animation-name: fadeIn;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}
   @keyframes fadeIn{
      from {
        opacity: 0;
      }
      to {
        opacity: 4;
      }
   


