<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="./contact-style.css">
</head>

<body>
    <section>
        <div class="container">
            <img src="./people-6027028_1280.jpg" alt="">
            <h1>¡Queremos conocerte!</h1>
        </div>
    </section>
    <section>
        <h2>¡Aqui estamos!</h2>
        <div class="set">
            <div class="city">
                <h3>Barcelona</h3>
                <p>Avinguda Bogatell, 82<br>
                    08005 Barcelona<br><br>
                    info@factoriaf5.org
                </p>
                <h3>Madrid</h3>
                <p>AC. Fernando Poo, 25<br>
                    28045 Madrid<br><br>
                    info@factoriaf5.org
                </p>
                <h3>Langreo</h3>
                <p>Calle Hornos Altos, s/n<br>
                    33949 Asturias<br><br>
                    info@factoriaf5.org
                </p>
            </div>
        </div>
    </section>
</body>
<script src="./js/app.js"></script>

</html>